<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>script Tag</title>
   <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app-v-if">
        <span v-if="seen">Now you see me</span>
    </div>
    <div id="app-v-for">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
    <div id="app-v-on">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">메시지 뒤집기 </button>
    </div>
    <div id="app-v-model">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>
    <ol>
        <todo-item></todo-item>
    </ol>
    <script src="index.js"></script>
</body>
</html>